:root{
    --error-1: #ff0000;
    --error-2: #ff0000;
    --error-3: #ff0000;
    --error-4: #ff0000;
    --error-5: #ff0000;
    --error-6: #ff0000;
    --error-7: #ff0000;
    --error-8: #ff0000;
    --error-9: #ff0000;

    --warning-1: #f4cb00;
    --warning-2: #F4CB00;
    --warning-3: #F4CB00;
    --warning-4: #F4CB00;
    --warning-5: #F4CB00;
    --warning-6: #F4CB00;
    --warning-7: #F4CB00;
    --warning-8: #F4CB00;
    --warning-9: #F4CB00;
}